body {
  text-align: center;
  font-family: verdana;
}

.green-status {
  margin: auto;
  width: 100px;
  height: 50px;
  background-color: green;
}

.yellow-status {
  margin: auto;
  width: 100px;
  height: 50px;
  background-color: yellow;
}

.red-status {
  margin: auto;
  width: 100px;
  height: 50px;
  background-color: red;
}

#rectangle {
    margin: auto;
    width: 100px;
    height: 50px;
    background-color: black;
}
